<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
	<%= image_tag "eric.png", :alt => "Le Roi" %>
	<h1>Plan Some | Play Some</h1>
	<p>
		Go for it!  Play some football in your area by joining one of the games below.
		Or if you already have your crew but still lack a couple of heads organise a match 
		by clicking the button below.
	</p>
	<br/>
	<p>
		<a class="btn btn-primary btn-large" href="/matches/new">Organise &raquo;</a>
	</p>
</div>

<div class="row">
	<div class="span8">
		<% if @matches.length > 0 %>
		<h3>Next Matches Close To You</h3>
		<table class="table">
			<thead>
				<tr>
					<th>What</th>
					<th>When</th>
					<th>Where</th>
					<th>Places left</th>
					<th>Comment</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% for match in @matches %>
				<tr>
					<td><%= h match.variety %></td>
					<td><%= h match.kickoff %></td>
					<td><%= h match.location %></td>
					<td>
					<span class="badge badge-success"><%= h match.required %></span>
					</td>
					<td><%= h match.comment %></td>
					<% if (!session[:logged_in_player].nil?) %>
						<td><%= link_to "Join", join_path(match), :class => "btn btn-info btn-small" %></td>
					<% end %>
				</tr>
				<% end %>
			</tbody>
		</table>
		<%= link_to "More matches...", matches_path %>
		<% else %>
		<div class="well">
			No matches yet, click <a href="/matches/new">here</a> to create one.
		</div>
		<% end %>
	</div>
	<div class="span4">
		<div class="well">
			<% if !session[:logged_in_player].nil? %>
			<h2>Need players? Fix a match</h2>
			<br/>
			<p>
				Organise a match in your area, meet some new people, score an amazing bicycle kick 
				and grab yourself a couple of beers with your new mates.
			</p>
			<p>
				Social sports is fun, we swear!
			</p>
			<br/>
			<p>
				<a class="btn" href="/matches/new">Find players &raquo;</a>
			</p>
			<% else %>
			<table class="table-no-top-border">
				<thead>
					<h3>Sign up and play</h3>
				</thead>
				<br/>
				<% @player = Player.new %>
				<%= form_for(@player) do |f| %>
				<% if @player.errors.any? %>
				<div id="error_explanation">
					<h2><%= pluralize(@player.errors.count, "error") %> prohibited this post from being saved:</h2>
	
					<ul>
						<% @player.errors.full_messages.each do |msg| %>
						<li>
							<%= msg %>
						</li>
						<% end %>
					</ul>
				</div>
				<% end %>
				<tbody>
					<tr><td><b>Nickname</b></td><td><%= f.text_field :nickname %></td></tr>
					<tr><td><b>Full name</b></td><td><%= f.text_field :name %></td></tr>
					<tr><td><b>Email address</b></td><td><%= f.text_field :email %></td></tr>
					<tr><td><b>Phone number</b></td><td><%= f.text_field :mobile %></td></tr>				
				</tbody>
				<tfoot>
					<tr>
						<td colspan="2">
							<button type="submit" class="btn btn-primary">
		  						<i class="icon-user icon-white"></i> Register
							</button>
						</td>
					</tr>
				</tfoot>
				<% end %>
			</table>
			<% end %>
		</div>
	</div>
</div>

