<% if params[:signed_in] == true or not session[:player].nil? %>
<div align="center">
<table width="70%" bgcolor="#AACCAA">
	<tr align="left">
		<th width="50%">Plan some</th>
		<th>Play some</th>
	</tr>
	<tr bgcolor="#CCEECC">		
		<td>
			<% fields = Field.get_by_player(session[:player].id) %>
				<% if (fields != nil) and (fields.length > 0)					
					 fields.each {
					 	|field|
					 	if field.organiser
					 		match = Match.find(field.match_id)
					 		if match.kickoff > DateTime.now
			 	%>
			 					<%= link_to (match.variety + " in " + match.location + " at " + match.kickoff.to_s), match_path(match) %>
			 					<br>
			 	<%					
			 				end 			
			 			end								 	
					 }
				end
			%>
			<%= link_to "Create a match", "/matches/new" %>
		</td>
		<td>
			<% fields = Field.get_by_player(session[:player].id) %>
				<% if (fields != nil) and (fields.length > 0)					
					 fields.each {
					 	|field|
					 	if not field.organiser
					 		match = Match.find(field.match_id)
					 		if match.kickoff > DateTime.now
			 	%>
			 					<%= link_to (match.variety + " in " + match.location + " at " + match.kickoff.to_s), match_path(match) %>
			 					<br>
			 	<%				
			 				end	 			
			 			end								 	
					 }
				end
			%>
		</td>
</tr>	
</table>
	
</div>
<% end %>
<br/>
<div align="center">
    
<a href="http://www.playboy.com">My Joined/Next Games</a>
    
<table width="70%" bgcolor="#AACCAA">
  <tr bgcolor="#FFF">
  	<td colspan=5><h1>These matches need players. Join in and play some!</h1></td>
  </tr>
  <tr align="left">
    <th>Date</th>
    <th>Place</th>
    <th>Kind</th>
    <th>Players needed</th>
  </tr>

  
<% 
  number_of_matches_to_show = 10  
  if @match.length < number_of_matches_to_show
    number_of_matches_to_show = @match.length
  end 
%>

<% number_of_matches_to_show.times do |i| %>
  <% if i%2==0 %>
  	<tr bgcolor="#EEFFEE">
  <% else %>
  	<tr bgcolor="#CCEECC">  	
  <% end %>
    <td><%=h @match[i].kickoff %></td>
    <td><%=h @match[i].location %></td>
    <td><%=h @match[i].variety %>-a-side</td>
    <td><%=h @match[i].required %></td>
    <td>
    	<%= link_to "Details", @match[i] %>    	
		<%= link_to "Join", join_path(@match[i]) %>
    </td>
  </tr>
  <tr>
  	<% if not @match[i].comment.nil? %>
	  <% if i%2==0 %>
	  	<tr bgcolor="#EEFFEE">
	  <% else %>
	  	<tr bgcolor="#CCEECC">
	  <% end %>	  	
	    <td colspan=5>Comments: <%=h @match[i].comment %></td>
	  </tr>
	<% end %>
<% end %>
<% if params[:signed_in] == true or not session[:player].nil? %>
<tr><td colspan=4></td><td><%= link_to "Show all", "/matches" %></td></tr>
<% end %>
</table>
</div>
