<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <%= image_tag "eric.png", :alt => "eric cantona" %>
    <h1>Plan Some, Play Some</h1>
    <p>
        Go for it!  Play some football in an area close to you by selecting
        one of the below games in need of players (no doubt handsome players like yourself).
        Or if you already have your crew, but still lack a couple of heads
        organise a match by clicking on the button below.
    </p>
    <p>
        <a class="btn btn-primary btn-large">Organise &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="span8">
        <% if @matches.length > 0 %>
        <h3>Next Matches Close To You <small>Join</small></h3>
        <table class="table">
            <thead>
                <tr>
                    <th>What</th>
                    <th>When</th>
                    <th>Where</th>
                    <th># Places Left</th>
                    <th>Comment</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <% for match in @matches %>
                <tr>
                    <td><%=h match.variety %></td>
                    <td><%=h match.kickoff %></td>
                    <td><%=h match.location %></td>
                    <td><span class="badge badge-success"><%=h match.required %></span></td>
                    <td><%=h match.comment %></td>
                    <td><%= link_to "Join", join_path(match), :class => "btn btn-info btn-small" %></td>
                </tr>
            <% end %>
            </tbody>
        </table>
        <%= link_to "More Matches ...", matches_path %>
        <% else %>
            <div class="well">
            No matches yet, click here to create one. <!-- FIXME: This should be a link -->
            </div>
        <% end %>
    </div>
    <div class="span4">
        <h2>Need players? Fix a match</h2>
        <p>
            Organise a match at a location close to you, meet some new people, 
            score an awesome bicycle kick and grab yourself a couple of beers with your new mates.  
            Social sports, it is fun we swear!
        </p>
        <p>
            p.s.  When we say "fix a match", we do not mean <i>Calciopoli</i>
        </p>
        <p>
            <a class="btn" href="#">Find Players &raquo;</a>
        </p>
    </div>
</div>


