<h1>Editing player</h1>

<% form_for(@player) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :mobile %><br />
    <%= f.text_field :mobile %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>  
  <p>
    <%= f.submit 'Save changes' %>
  </p>
<% end %>

<%= link_to 'View profile', @player %>