<% if flash[:notice] %>
	<div class="alert alert-info">
    	<%= flash[:notice] %>
	</div>    
<% end %>
<div class="span4">
<div class="well">
<table class="table-no-top-border">
	<thead>
		<h3>Your profile details</h3>
	</thead>
	<br/>
	<tbody>
		<tr>
			<td>
			<b>Nickname</b>
			</td>
			<td>
			<%= h @player.nickname %>
			</td>
		</tr>
		<tr>
			<td>
			<b>Name</b>
			</td>
			<td>
			<%= h @player.name %>
			</td>
		</tr>
		<tr>
			<td>
			<b>Email</b>
			</td>
			<td>
			<%= h @player.email %>
			</td>
		</tr>
		<tr>
			<td>
			<b>Mobile</b>
			</td>
			<td>
			<%= h @player.mobile %>
			</td>
		</tr>
		<!--
		<p>
		<b>Location:</b>
		<%=h @player.location %>
		</p>
		-->
		<tr>
			<td>
			<b>Password:</b>
			</td>
			<td>
			<% if @player.password.blank? %>
			<%= link_to 'Set a password', set_password_path %>
			<% else %>
			<%= link_to 'Change password', set_password_path %>
			<% end %>
			</td>
		</tr>
		<tfoot>
		<tr>
			<td colspan="2">
				<a class="btn" href="/players/profile/edit/">
					<i class="icon-pencil"></i>
		        	Edit profile
		    	</a>
			</td>
		</tr>
		</tfoot>
</table>
</div>
</div>
