<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    
  <p>
    Nickname
    <%= f.text_field :nickname %>
  </p>
  <p>
    Full name
    <%= f.text_field :name %>
  </p>
  <p>
    Email address
    <%= f.text_field :email %>
  </p>
  <p>
    Phone number
    <%= f.text_field :mobile %>
  </p>  
  <p>
    <%= f.submit 'Register' %>
  </p>
<% end %>
