<% form_for(@player) do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname %>
  </p>
  <p>
    Full Name<br />
    <%= f.text_field :name %>
  </p>
  <p>
    Email Address<br />
    <%= f.text_field :email %>
  </p>
  <p>
    Phone Number<br />
    <%= f.text_field :mobile %>
  </p>  
  <p>
    <%= f.submit 'Register' %>
  </p>
<% end %>
