<div class="span5">
<div class="well">
<table class="table-no-top-border">
	<thead>
		<h3>
		<% if ((!@player.password.nil? && !@player.password.empty?)) %>
			Update password
		<% else %>
			Set password
		<% end %>
		</h3>
	</thead>
	<br/>
	<%= form_for(@player) do |f| %>	
	<tbody>
		<% if ((!@player.password.nil? && !@player.password.empty?)) %>
		<!-- Ask for old password if it exists -->
		<tr>
			<td>
			<b>Old password</b>
			</td>
			<td><%= f.password_field :old_password %></td>
		</tr>
		<% end %>
		<tr>
			<td>
			<% if ((!@player.password.nil? && !@player.password.empty?)) %>
				<b>New password</b>
			<% else %>
				<b>Password</b>
			<% end %>			
			</td>
			<td><%= f.password_field :password %></td>
		</tr>
		<tr>
			<td>
			<b>Confirm password</b>
			</td>
			<td><%= f.password_field :confirm_password %></td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="2">
				<button type="submit" class="btn btn-primary">
					<i class="icon-ok icon-white"></i>
					<% if ((!@player.password.nil? && !@player.password.empty?)) %>
						Update password
					<% else %>
						Set password
					<% end %>
				</button>
				<% if ((!@player.password.nil? && !@player.password.empty?)) %>
				<a class="btn btn-danger" href="/players/<%= @player.id %>">
					<i class="icon-trash icon-white"></i>
					Remove password
				</a>
				<% end %>				
				<a class="btn btn-cancel" href="/players/<%= @player.id %>">
					<i class="icon-remove"></i>
					Cancel
				</a>
			</td>
		</tr>
	</tfoot>
	<% end %>
</table>
</div>
</div>