<div class="span5">
<div class="well">
<table class="table-no-top-border">
	<thead>
		<% session[:updating_password] = "true" %>
		<h3>
		<% if ((!@player.password.nil? && !@player.password.empty?)) %>
			Update password
		<% else %>
			Set password
		<% end %>
		</h3>
	</thead>
	<br/>
	<%= form_for(@player) do |f| %>	
	<% if @player.errors.any? %>
		<% @player.errors.full_messages.each do |msg| %>
			<% if (msg.include? 'Old password') %>
				<% @old_password_error = msg.sub("Old password ", "") %>
			<% end %>							
			<% if (msg.include? 'Confirm password') %>
				<% @confirm_password_error = msg.sub("Confirm password ", "") %>
			<% end %>
		<% end %>
	<% end %>
	<tbody>
		<!-- Ask for old password if it exists -->
		<% if ((!@player.password.nil? && !@player.password.empty?)) %>
			<% if !@old_password_error.nil? %>
				<tr>
					<td/>
					<td>
						<font color="red"><%= @old_password_error %>
					</td>
				</tr>
			<% end %>
			<tr>
				<td>
				<b>Current password</b>
				</td>
				<td>
					<input id="old_password" name="old_password" size="30" type="password" />
				</td>
			</tr>
		<% end %>
		<tr>
			<td>
			<% if ((!@player.password.nil? && !@player.password.empty?)) %>
				<b>New password</b>
			<% else %>
				<b>Password</b>
			<% end %>			
			</td>
			<td><%= f.password_field :password %></td>
		</tr>
		<% if !@confirm_password_error.nil? %>
			<tr>
				<td/>
				<td>
					<font color="red"><%= @confirm_password_error %>
				</td>
			</tr>
		<% end %>
		<tr>
			<td>
			<b>Confirm password</b>
			</td>
			<td>
				<input id="confirm_password" name="confirm_password" size="30" type="password" />
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="2">
				<button type="submit" class="btn btn-primary">
					<i class="icon-ok icon-white"></i>
					<% if ((!@player.password.nil? && !@player.password.empty?)) %>
						Update password
					<% else %>
						Set password
					<% end %>
				</button>
				<% if ((!@player.password.nil? && !@player.password.empty?)) %>
				<% session[:remove_password] = "true" %>
				<button type="submit" class="btn btn-danger">
					<i class="icon-trash icon-white"></i>
						Remove password					
				</button>
				<% end %>				
				<a class="btn btn-cancel" href="/players/<%= @player.id %>">
					<i class="icon-remove"></i>
					Cancel
				</a>
			</td>
		</tr>
	</tfoot>
	<% end %>
</table>
</div>
</div>