<p>
  <b>Id:</b>
  <%=h @player.id %>
</p>

<p>
  <b>Nickname:</b>
  <%=h @player.nickname %>
</p>

<p>
  <b>Email:</b>
  <%=h @player.email %>
</p>

<p>
  <b>Email:</b>
  <%=h @player.email %>
</p>

<p>
  <b>Mobile:</b>
  <%=h @player.mobile %>
</p>

<p>
  <b>Password:</b>
  <%=h @player.password %>
</p>

<p>
  <b>Coordinates:</b>
  <%=h @player.coordinates %>
</p>

<p>
  <b>Location:</b>
  <%=h @player.location %>
</p>

<p>
  <b>Registration:</b>
  <%=h @player.registration %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>