<p>
  <b>Nickname:</b>
  <%=h @player.nickname %>
</p>

<p>
  <b>Name:</b>
  <%=h @player.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @player.email %>
</p>

<p>
  <b>Mobile:</b>
  <%=h @player.mobile %>
</p>

<!--
<p>
  <b>Location:</b>
  <%=h @player.location %>
</p>
-->

<p>
	<b>Password:</b>
	<%=h @player.password.blank? ? "No password is set" : "******"%>
</p>

<%= link_to 'Edit profile', edit_player_path(@player) %>