<p>
  <b>Nickname:</b>
  <%=h @player.nickname %>
</p>

<p>
  <b>Name:</b>
  <%=h @player.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @player.email %>
</p>

<p>
  <b>Mobile:</b>
  <%=h @player.mobile %>
</p>

<!--
<p>
  <b>Location:</b>
  <%=h @player.location %>
</p>
-->

<p>
	<b>Password:</b>
	<% if @player.password.blank? %>
		<%= link_to 'Set a password', set_password_path(@player) %>
	<% else %>
		<%= link_to 'Change password', set_password_path(@player) %>
	<% end %>
</p>

<%= link_to 'Edit profile', edit_player_path(@player) %>