<h1>Editing match</h1>

<% form_for(@match) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :occurs %><br />
    <%= f.datetime_select :occurs %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.label :required %><br />
    <%= f.text_field :required %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @match %> |
<%= link_to 'Back', matches_path %>