<% if params[:signed_in] == true or not session[:player].nil? %>

<h1>Editing match</h1>

<% form_for(@match) do |f| %>
  <%= f.error_messages %>

  <p>
    Date and time<br />
    <%= f.datetime_select :kickoff %>
  </p>
  <p>
    Place<br />
    <%= f.text_field :location %>
  </p>
  <p>
    Players on each side<br />
    <%= f.text_field :variety %>
  </p>
  <p>
    <%= f.label :required %><br />
    <%= f.text_field :required %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @match %> |
<%= link_to 'Back', matches_path %>

<% else %>
<script type="text/javascript">
<!--
window.location = "/"
//-->
</script>

<% end %>
