<div class="row">
    <div class="span12">
        <h1>Play in one of these matches <small>and enjoy</small></h1>

        <% if flash[:notice] %>
        <div class="well">
            <%= flash[:notice] %>
        </div>
        <% end %>
        
        
        <table class="table">
            <thead>
                <tr>
                    <th>What</th>
                    <th>When</th>
                    <th>Where</th>
                    <th># Spaces Left</th>
                    <th>Comment</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <% for match in @matches %>
                <tr>
                    <td><%=h match.variety %></td>
                    <td><%=h match.kickoff %></td>
                    <td><%=h match.location %></td>
                    <td>
                        <span class="badge <%= match.required > 0 ? "badge-success" : "badge-error" %>">
                            <%=h match.required %>
                        </span>
                    </td>
                    <td><%=h match.comment %></td>
                    <td>
                        <% if match.required > 0 %>
                        <%= link_to "Join", join_path(match), :class => "btn btn-info btn-small" %>
                        <% end %>
                    </td>   
                    <td><%= link_to "Details", match, :class => "btn btn-info btn-small" %></td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
</div>
