<h1>Listing matches</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Occurs</th>
    <th>Location</th>
    <th>Kind</th>
    <th>Players required</th>
    <th>Comment</th>
  </tr>

<% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
<% end %>
<% @match.each do |match| %>  
  <tr>
    <td><%=h match.id %></td>
    <td><%=h match.kickoff %></td>
    <td><%=h match.location %></td>
    <td><%=h match.variety %></td>
    <td><%=h match.required %></td>
    <td><%=h match.comment %></td>
    <td><%= link_to 'Show', match %></td>
    <td><%= link_to 'Join', join_path(match), :confirm => 'Are you sure?' %></td>
    

  <% if params[:signed_in] == true or not session[:player].nil? %>
    
    <% @field = (Field.get_by_player_and_match(session[:player].id, match.id)) %>
    <% if (@field != nil) and @field.organiser %>
      		
  	  <td><%= link_to 'Edit', edit_match_path(match) %></td>
      <td><%= link_to 'Destroy', match, :confirm => 'Are you sure?', :method => :delete %></td>
  	<% end %>
  <% end %>
  </tr>
<% end %>
</table>

<br />
<% if params[:signed_in] == true or not session[:player].nil? %>		
  <%= link_to 'New match', new_match_path %>
<% end %>
