<h1>New match</h1>

<% form_for(@match) do |f| %>
  <%= f.error_messages %>

  <p>
    Place
    <%= f.text_field :id %>
  </p>
  <p>
    Date and time
    <%= f.text_field :kickoff, :class => "datetimepicker" %>
  </p>
  <p>
    Place
    <%= f.text_field :location %>
  </p>
  <p>
    Players on each side<br />
    <%= f.text_field :variety %>
  </p>
  <p>
    <%= f.label :required %><br />
    <%= f.text_field :required %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', matches_path %>
