<div class="row">
    <div class="span12">
        <h1>Matches I organised</h1>
        <% if flash[:notice] %>
        <div class="well">
            <%= flash[:notice] %>
        </div>
        <% end %>       
        
        <table class="table">
            <thead>
                <tr>
                    <th>What</th>
                    <th>When</th>
                    <th>Where</th>
                    <th>Spaces left</th>
                    <th>Comment</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <% for match in @matches %>
                <tr>
                    <td><%=h match.variety%>-a-side</td>
                    <td><%=h match.kickoff %></td>
                    <td><%=h match.location %></td>
                    <td>
                        <span class="badge <%= match.required > 0 ? "badge-success" : "badge-error" %>">
                            <%=h match.required %>
                        </span>
                    </td>
                    <td>
                    <% if !match.comment.nil? %>
						<%= h match.comment[0..24] %>
						<% if match.comment.length > 25 %>
							...
						<% end %>
					<% end %>	
                    </td>
                    <td><%= link_to "Details", match, :class => "btn btn-info btn-small" %></td>
                </tr>
            <% end %>
            </tbody>
        </table>        
    	<a class="btn" href="/matches/new">
        	Organise a match
    	</a>
    	<a class="btn" href="/matches/joined">
        	View joined matches
    	</a>
    </div>
</div>
