<% if flash[:notice] %>
	<div class="alert alert-info">
    	<%= flash[:notice] %>
	</div>    
<% end %>
<div class="span4">
	<div class="well">
		<table class="table-no-top-border">
			<thead>
				<h3>Match details</h3>
			</thead>
			<br/>
			<tbody>
				<tr>
					<td>
					<b>Date and time</b>
					</td>
					<td>
					<%= h @match.kickoff.strftime("%a %d %B %Y at %H:%M") %>					
					</td>
				</tr>
				<tr>
					<td>
					<b>Location</b>
					</td>
					<td>
					<%= h @match.location %>
					</td>
				</tr>
				<tr>
					<td>
					<b>Players each side</b>
					</td>
					<td>
					<%= h @match.variety %>
					</td>
				</tr>
				<tr>
					<td>
					<b>Players required</b>
					</td>
					<td>
					<%= h @match.required %>
					</td>
				</tr>
				<tr>
					<td>
					<b>Comment</b>
					</td>
					<td>
					<%= h @match.comment %>
					</td>
				</tr>
				<% if @organiser != nil %>
				<tr>
					<td>
					<b>Organiser</b>
					</td>
					<td>
					<%= h @organiser.name %> (<%= h @organiser.nickname %>)
					</td>
				</tr>
				<% end %>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="2">
						<!-- only show join button if match still has places and logged in player has not already joined -->
						<% if (@match.required > 0 && !@takers.include?(session[:logged_in_player])) %>
                    		<%= link_to "Join", join_path(@match), :class => "btn btn-info btn-small" %>                    	
						<% elsif params[:signed_in] == true or not session[:player].nil?
								if (Field.get_by_player_and_match(session[:player].id, @match.id)).organiser == true
									link_to 'Edit', edit_match_path(@match)
								end
						   else
						%>
							<a class="btn" href="/matches/joined">					
				        		My matches		        		
				    		</a>
			    		<%end%>
						<a class="btn" href="/matches/edit/<%=@match.id%>">
				        	Edit match details
				    	</a>						
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>

<div class="row">
    <div class="span6">
    	<br/>
    	<% if @takers.nil? || @takers.empty? %>    		
    		No takers yet.    		   		
    	<% else %>
        <h3>Crew</h3>
    	<table class="table">
            <thead>
                <tr>
                    <th>Nickname</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                </tr>
            </thead>
            <tbody>
			<% for player in @takers %>
				<tr>
					<td><%= player.nickname %></td>
					<td><%= player.name %></td>
					<td><%= player.email %></td>
					<td><%= player.mobile %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
		<% end %>
		<% if @takers.size < @match.required %>
			<style> 
				html .fb_share_link { padding:2px 0 0 20px; height:16px; background:url(http://static.ak.facebook.com/images/share/facebook_share_icon.gif?6:26981) no-repeat top left; }
			</style>
			<script>
			function openPopup(url) {
 					window.open(url, "popup_id", "scrollbars,resizable,width=640,height=375");
 					return false;
				}
			</script>
			<a class="fb_share_link" href="http://www.facebook.com/sharer.php?u=http://www.fielderic.com/matches/<%=@match.id%>&t=Join my match" onclick="return openPopup(this.href);">Share on Facebook</a>				
			to find your crew.
		<% end %>
	</div>
</div>
