<p>
  <b>Id:</b>
  <%=h @match.id %>
</p>

<p>
  <b>Occurs:</b>
  <%=h @match.occurs %>
</p>

<p>
  <b>Location:</b>
  <%=h @match.location %>
</p>

<p>
  <b>Kind:</b>
  <%=h @match.kind %>
</p>

<p>
  <b>Required:</b>
  <%=h @match.required %>
</p>

<p>
  <b>Comment:</b>
  <%=h @match.comment %>
</p>


<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>