<% if flash[:notice] %>
	<div class="alert alert-info">
    	<%= flash[:notice] %>
	</div>    
<% end %>
<div class="span4">
	<div class="well">
		<table class="table-no-top-border">
			<thead>
				<h3>Match details</h3>
			</thead>
			<br/>
			<tbody>
				<tr>
					<td>
					<b>Date and time</b>
					</td>
					<td>
					<%= h @match.kickoff.strftime("%a %d %B %Y at %H:%M") %>					
					</td>
				</tr>
				<tr>
					<td>
					<b>Location</b>
					</td>
					<td>
					<%= h @match.location %>
					</td>
				</tr>
				<tr>
					<td>
					<b>Players each side</b>
					</td>
					<td>
					<%= h @match.variety %>
					</td>
				</tr>
				<tr>
					<td>
					<b>Players required</b>
					</td>
					<td>
					<%= h @match.required %>
					</td>
				</tr>
				<tr>
					<td>
					<b>Comment</b>
					</td>
					<td>
					<%= h @match.comment %>
					</td>
				</tr>
				<% if @organiser != nil %>
				<tr>
					<td>
					<b>Organiser</b>
					</td>
					<td>
					<%= h @organiser.name %> (<%= h @organiser.nickname %>)
					</td>
				</tr>
				<tr>
					<td>
					<b>Contact</b>
					</td>
					<td>
					<%= h @organiser.mobile %>
					</td>
				</tr>
				<% end %>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="2">
						<!-- always show 2 buttons (unless organiser - edit, join/leave and cancel are needed) -->
						<% button_count = 0 %>
						<!-- only show join button if match still has places and logged in player has not already joined -->						
						<% if (@match.required > 0 && !@takers.include?(session[:logged_in_player])) %>                    		
                    		<a class="btn btn-primary" href="/matches/join/<%=@match.id%>">
                    			<i class="icon-play icon-white"></i>
                    			Join
                			</a>            
	                		<% button_count += 1 %>                		
			    		<% end %>
			    		
			    		<!-- only show edit button if current player is match organiser -->
			    		<% if !@organiser.nil? && @organiser.id == session[:logged_in_player].id %>
							<a class="btn" href="/matches/edit/<%=@match.id%>">
								<i class="icon-pencil"></i>
					        	Edit
					    	</a>
	                		<% button_count += 1 %>                		
				    	<% end %>
				    	
				    	<!-- only show leave button if current player is joined -->
						<% if !@takers.nil? && !@takers.empty? && @takers.include?(session[:logged_in_player]) %>
							<a id="leave-match" class="btn btn-warning" href="#">
								<i class="icon-white icon-ban-circle"></i>
				        		Leave			        	
					    	</a>
	                		<% button_count += 1 %>
			    		<% end %>
			    		
			    		<!-- only show cancel button if current player is match organiser -->
				    	<% if !@organiser.nil? && @organiser.id == session[:logged_in_player].id %>
							<a id="cancel-match" class="btn btn-danger" href="#">
								<i class="icon-white icon-ban-circle"></i>
				        		Cancel			        	
					    	</a>
	                		<% button_count += 1 %>
			    		<% end %>
			    		
				    	<% if button_count < 2 %>				    						
							<a class="btn" href="/matches/joined">					
				        		<i class="icon-th-list"></i>
				        		My matches		        		
				    		</a>
				    		<% button_count += 1 %>
				    	<% end %>
				    	
				    	<% if button_count < 2 %>
				    		<a class="btn" href="/matches/new">
			    				<i class="icon-calendar"></i>
					        	Organise a match
					    	</a>				
	                		<% button_count += 1 %>
				    	<% end %>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>

<div class="row">
    <div class="span6">
    	<br/>
    	<% if @takers.nil? || @takers.empty? %>    		
    		No takers yet.    		   		
    	<% else %>
        <h3>Crew</h3>
    	<table class="table">
            <thead>
                <tr>
                    <th>Nickname</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                </tr>
            </thead>
            <tbody>
			<% for player in @takers %>
				<tr>
					<td><%= player.nickname %></td>
					<td><%= player.name %></td>
					<td><%= player.email %></td>
					<td><%= player.mobile %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
		<% end %>
		<% if @takers.size < @match.required %>
			<style> 
				html .fb_share_link { padding:2px 0 0 20px; height:16px; background:url(http://static.ak.facebook.com/images/share/facebook_share_icon.gif?6:26981) no-repeat top left; }
			</style>
			<script>
			function openPopup(url) {
 					window.open(url, "popup_id", "scrollbars,resizable,width=640,height=375");
 					return false;
				}
			</script>
			<a class="fb_share_link" href="http://www.facebook.com/sharer.php?u=http://www.fielderic.com/matches/<%=@match.id%>&t=Join my match" onclick="return openPopup(this.href);">Share on Facebook</a>				
			to find your crew.
		<% end %>
	</div>
</div>

<script type="text/javascript">
  $('#leave-match').popover({trigger:'focus', placement:'top', title:'<h3>Leave match</h3>', 
  content:'Are you sure you want to <strong>leave</strong> this match? </br></br><a class="btn btn-cancel" href="#"><i class="icon-remove"></i> No</a>&nbsp;&nbsp;<a class="btn btn-primary" href="/matches/leave/<%=@match.id%>"><i class="icon-ok icon-white"></i> Yes</a>'}).click(function(e) { 
       e.preventDefault(); 
       $(this).focus(); 
   });
  $('#cancel-match').popover({trigger:'focus', placement:'top', title:'<h3>Cancel match</h3>', 
  content:'Are you sure you want to <strong>cancel</strong> this match? </br></br><a class="btn btn-cancel" href="#"><i class="icon-remove"></i> No</a>&nbsp;&nbsp;<a class="btn btn-primary" href="/matches/cancel/<%=@match.id%>"><i class="icon-ok icon-white"></i> Yes</a>'}).click(function(e) { 
       e.preventDefault(); 
       $(this).focus(); 
   });
</script>
