	<p>
	  <b>Id:</b>
	  <%=h @match.id %>
	</p>
	
	<p>
	  <b>Occurs:</b>
	  <%=h @match.kickoff %>
	</p>
	
	<p>
	  <b>Location:</b>
	  <%=h @match.location %>
	</p>
	
	<p>
	  <b>Kind:</b>
	  <%=h @match.variety %>
	</p>
	
	<p>
	  <b>Players required:</b>
	  <%=h @match.required %>
	</p>
	
	<p>
	  <b>Comment:</b>
	  <%=h @match.comment %>
	</p>
	
<% if params[:signed_in] == true or not session[:player].nil? %>		
	<% if (Field.get_by_player(session[:player].id)).organiser == true %>	
		<%= link_to 'Edit', edit_match_path(@match) %> |
	<% end %>
<% end %>

<%= link_to 'Match list', matches_path %>