<p>
  <b>Id:</b>
  <%=h @match.id %>
</p>

<p>
  <b>Kickoff:</b>
  <%=h @match.kickoff %>
</p>

<p>
  <b>Location:</b>
  <%=h @match.location %>
</p>

<p>
  <b>Variety:</b>
  <%=h @match.variety %>
</p>

<p>
  <b>Required:</b>
  <%=h @match.required %>
</p>

<p>
  <b>Comment:</b>
  <%=h @match.comment %>
</p>


<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>