<div class="span5">
<div class="well">
<table class="table-no-top-border">
<%= form_tag '/contact/sent', :method => :post do %>
	<thead>
		<h3>Contact us</h3>
	</thead>
	<br/>
	<tbody>
		<% if !@contact_name_error.nil? %>
		<tr>
			<td colspan="2">
				<div class="alert alert-error">
					<%= @contact_name_error %>
				</div>
			</td>
		</tr>
		<% end %>
		<tr>
			<td>
				<b>Your name</b>
			</td>
			<td width="80%">
				<input id="name" name="name" type="text" style="width:97%;" autofocus="true" autocomplete="off" value="<%= @contact_name %>" />
			</td>
		</tr>

		<% if !@contact_email_error.nil? %>		
		<tr>
			<td colspan="2">
				<div class="alert alert-error">
					<%= @contact_email_error %>
				</div>
			</td>
		</tr>
		<% end %>
		<tr>
			<td>
				<b>Your email</b>
			</td>
			<td width="80%">
				<input id="email" name="email" type="text" style="width:97%;" autocomplete="off" value="<%= @contact_email %>" />
			</td>
		</tr>
			
		<% if !@contact_message_error.nil? %>
		<tr>
			<td colspan="2">
				<div class="alert alert-error">
					<%= @contact_message_error %>
				</div>
			</td>
		</tr>
		<% end %>
		<tr>
			<td>
				<b>Message</b>
			</td>
			<td width="80%">
				<textarea id="message" name="message" rows="10" style="width:97%; resize: none;"><%= @contact_message %></textarea> 
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="2">
				<button type="submit" class="btn btn-primary">
					<i class="icon-envelope icon-white"></i>
						Send
				</button>
			</td>
		</tr>
	</tfoot>
<% end %>
</table>
</div>
</div>
