<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Field Eric ~ Plan Some | Play Some</title>
		<meta name="description" content="social sports, find player, organise match, field eric cantona">
		<meta name="author" content="Jean-Paul Ebejer, David Camilleri, Michael Camilleri">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Le styles -->

		<!-- Our own CSS -->
		<%= stylesheet_link_tag "application" %>
		<!-- Some JS here please -->
		<%= javascript_include_tag "application" %>

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!-- Le fav and touch icons -->
		<%= favicon_link_tag %>
		<%= favicon_link_tag 'football.png', :rel => 'apple-touch-icon', :type => 'image/png' %>
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</a>
					<a class="brand" href="/" style="color:#fff">Field Eric</a>
					<div class="nav-collapse">
						<ul class="nav nav-pills">
							<% if !session[:logged_in_player].nil? %>
							<li class="dropdown" id="matches">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#matches">
								Matches
								<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="/matches">All matches</a>
									</li>
									<li>
										<a href="/matches/mymatches">Matches I joined</a>
									</li>									
									<li>
										<a href="#">Matches I organised</a>
									</li>
									<li>
										<a href="/matches/new">Organise a match</a>
									</li>
								</ul>
							</li>
							<% else %>
							<li>
								<a href="matches">Matches</a>
							</li>
							<% end %>
							<li>
								<a href="#about">About</a>
							</li>
							<li>
								<a href="#contact">Contact</a>
							</li>							
						</ul>
						<ul class="nav pull-right">
							<!-- if logged in show name and links to account and logout -->
							<% if !session[:logged_in_player].nil? %>
							<li class="dropdown" id="signedin">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#signedin">							
								<%= session[:logged_in_player].nickname %>
								<b class="caret"></b>
								</a>
								<ul class="dropdown-menu" id="signedin">
									<li><a href="/players/<%= session[:logged_in_player].id %>">My Account</a></li>
									<% if session[:logged_in_player].fb_user_id.nil? %>
										<li><a href="/logout">Logout</a></li>
									<% else %>
										<li><%= fb_logout_link("Logout", '/logout')%></li>
									<% end %>									
								</ul>
							</li>							
							<!-- if not logged in show links to sign in -->
							<% else %>
							<li class="dropdown" id="signin">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#signin">
								Sign in
								<b class="caret"></b>
								</a>
								<ul class="dropdown-menu" id="login">
									<li>
                                        <%= form_tag(login_path, :method => "post", :id => "loginForm", :remote => true) do %>
                                        <%= field_set_tag do %>
	                                        <%= label_tag(:email, "Email") %>
    	                                    <%= text_field_tag :email, nil, :class => "textInput" %>
										<% end %>
                                        <div id="extra_form_controls"></div>
                                        <%= submit_tag("Play!", :class => "btn btn-primary") %>
                                        <p><a>(But Bob, where is my password?)</a></p>
                                        <div id="errors"></div>
                                        <div class="fbconnect"> Or connect with Facebook: <%=fb_login_and_redirect(request.url, :scope => 'user_location,email') %></div>
                                    	<% end %>										
									</li>
									
								</ul>
							</li>
							<% end %>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>
		<div class="container">
			<%= yield %>
		</div>

		<div id="footer">
				<!--
				<p>&copy; Company 2012</p>
				-->
		</div>		
		
		<div id="fb-root"></div>
		<script>
		  window.fbAsyncInit = function() {
		    FB.init({
		      appId  : '113577885437797',
			  status : true, // check login status
			  cookie : true, // enable cookies to allow the server to access the session
			  oauth : true,
	  		  xfbml  : true  // parse XFBML
			});
			
			FB.getLoginStatus(function(response) {
				var cookies = { };
			    if (document.cookie && document.cookie != '') {
			        var split = document.cookie.split(';');
			        
			        refreshed = false;
			        fb_cookie_found = false;
			        
			        for (var i = 0; i < split.length; i++) {
			            var name_value = split[i].split("=");
			            name_value[0] = name_value[0].replace(/^ /, '');
			            cookie_name = decodeURIComponent(name_value[0]);
			            if (cookie_name.substring(0, 9) === "refreshed") {
			            	refreshed = true;
			            }
			            if (cookie_name.substring(0, 4) === "fbsr") {
			            	fb_cookie_found = true;
			            }
			        }
			        
			        if ((fb_cookie_found == true) && (refreshed == false)) {
		            	document.cookie="refreshed=true";
		            	window.location.reload();
			        }
			    }
	        });
	      };
		  
	      (function() {
			var e = document.createElement('script'); e.async = true;
			e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
			document.getElementById('fb-root').appendChild(e);
		  }());
		</script>
		
	</body>
</html>