<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Field Eric ~ Plan Some | Play Some</title>
		<meta name="description" content="social sports, find player, organise match, field eric cantona">
		<meta name="author" content="Jean-Paul Ebejer, David Camilleri, Michael Camilleri">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Le styles -->

		<!-- Our own CSS -->
		<%= stylesheet_link_tag "application" %>
		<!-- Some JS here please -->
		<%= javascript_include_tag "application" %>

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!-- Le fav and touch icons -->
		<%= favicon_link_tag %>
		<%= favicon_link_tag 'football.png', :rel => 'apple-touch-icon', :type => 'image/png' %>
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</a>
					<a class="brand" href="/">Field Eric</a>
					<div class="nav-collapse">
						<ul class="nav nav-pills">
							<li class="active">
								<a href="#">Home</a>
							</li>
							<% if (current_facebook_user != nil || !session[:logged_in_player].nil?) %>
							<li class="dropdown" id="matches">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#matches">
								Matches
								<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li>
										<% 
											if (current_facebook_user != nil)
												player_id = current_facebook_user.id
											elsif (!session[:logged_in_player].nil?)
												player_id = session[:logged_in_player].id
											end  
										%>
										<a href="/matches/mymatches">My matches</a>
									</li>
									<li>
										<a href="/matches">All matches</a>
									</li>
									<li>
										<a href="/matches/new">Create a match</a>
									</li>
								</ul>
							</li>
							<% else %>
							<li>
								<a href="matches">Matches</a>
							</li>
							<% end %>
							<li>
								<a href="#about">About</a>
							</li>
							<li>
								<a href="#contact">Contact</a>
							</li>							
						</ul>
						<ul class="nav pull-right">
							<!-- if logged with facebook in show facebook name and links to account and logout -->
							<% if current_facebook_user != nil %>
							<li class="dropdown" id="signedin">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#signedin">
								<%= current_facebook_user.username%>
								<b class="caret"></b>
								</a>
								<ul class="dropdown-menu" id="signedin">
									<li>
										<a href="#">My account</a>
									</li> <!-- TODO link to players/#id (not fb_user_id)  -->
									<li>
										<a href="#"> My matches</a>
									</li>
									<li>
										<%= fb_logout_link("Logout", request.url)%>
									</li>
								</ul>
							</li>

							<!-- if logged in show name and links to account and logout -->
							<% elsif !session[:logged_in_player].nil? %>
							<li class="dropdown" id="signedin">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#signedin">
								<%= session[:logged_in_player].nickname %>
								<b class="caret"></b>
								</a>
								<ul class="dropdown-menu" id="signedin">
									<li>
										<a href="/players/<%= session[:logged_in_player].id %>">My Account</a>
									</li>
									<li>
										<a href="#"> My matches</a>
									</li>
									<li>
										<a href="/logout">Logout</a>
									</li>
								</ul>
							</li>

							<!-- if not logged in show links to sign in -->
							<% else %>
							<li class="dropdown" id="signin">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#signin">
								Sign in
								<b class="caret"></b>
								</a>
								<ul class="dropdown-menu" id="login">
									<li>
                                        <%= form_tag(login_path, :method => "post", :remote => true) do %>
                                        <%= text_field_tag(:email) %>
                                        <div id="extra_form_controls"></div>
                                        <%= submit_tag("Play!", :class => "btn btn-primary") %>
                                        <div id="errors"></div>
                                        <div class="fbconnect">
                                            Or connect with Facebook:<%=fb_login_and_redirect(request.url, :scope => 'user_location,email') %>                                        
                                        </div>
                                    <% end %>										
									</li>
								</ul>
							</li>
							<% end %>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>
		<div class="container">
			<%= yield %>
		</div>

		<div id="footer">
				<!--
				<p>&copy; Company 2012</p>
				-->
		</div>		
		<%= fb_connect_async_js%>
	</body>
</html>